main {
    grid-area: content;
}

#cover{
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

#cover img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    filter: brightness(0.5);
}

#description{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 100px;
}

.bubble{
    width: 30%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-style: solid;
    border-color: var(--secondary-color);
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
}

.bubble .image-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.bubble img{
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.bubble p{
    color: black;
}