main{
    grid-area: content;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 40vw;
    height: auto;
    max-width: 40vw;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--secondary-color);
    overflow: hidden;
    margin: 20px 0;
}

.card .card-image{
    height: 200px;
    position: relative;
    background-color: grey;
}

.card-image img{
    position: absolute;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.card h1, .card p{
    padding: 0 10px;
}

.footer-cover{
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
}

.footer-cover img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: brightness(0.5);
    z-index: -1;
}

.footer-cover p{
    font-size: 2em;
}